.social {
  background-color: white;
  padding: 12px;
  width: 100%;
  margin-top: 12px;
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 8px;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: inherit;
}

.social img {
    margin-right: 50px;
}

.continue {
  background-color: #3b7e62;
  padding: 12px;
  width: 100%;
  margin-top: 12px;
  border-radius: 8px;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}
